{% extends 'base_report.html' %}

{% block title %}Annual Sales Report{% endblock %}
{% block header %}Annual Sales Report{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>Total Sales</th>
            </tr>
        </thead>
        <tbody>
            {% for annual_data in sales_data %}
                <tr>
                    <td>{{ annual_data.year}}</td>
                    <td>Rs{{ annual_data.total_sales}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


